mediaQuery1440()
  @media screen and (min-width: 1440px)
    {block}

mediaQuery1024()
  @media screen and (min-width: 1024px)
    {block}

mediaQuery768()
  @media screen and (min-width: 768px)
    {block}

mediaQuery320()
  @media screen and (min-width: 320px)
    {block}
